<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSM Application Info Page</title>
    <style></style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title">Application Name : Saif Services Messenger [SSM-App]</div>
        <div class="sub-title">Telegram Messenger Application for Saif Services</div>
      </div>
      <div class="body"></div>
    </div>
  </body>
</html>
